# dependencies
**/node_modules



# build files
**/dist
**/build



# environment variables
backend/.env



# logs
*.log
npm-debug.log*



# editor files
.vscode/
.idea/



# OS files
.DS_Store
Thumbs.db